Para fazer o programa funcionar é necessário instalar as seguintes dependencias:

speech_recognition ---- pip install SpeechRecognition
pyttsx3 --------------- pip install pyttsx3
webbrowser ------------ pip install webbrowser
subprocess ------------ pip install subprocess